In [1]:
import pandas as pd

In [2]:
import spacy
from spacy.training.example import Example
import random
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
# Load your data from the CSV file
data = pd.read_csv(r"D:\Downloads\data.csv")

In [4]:
print(data)

    Telephone Number             Name House Number    Society Name  \
0         9876543210     Ananya Gupta         12/A  ABC Apartments
1         9876543211     Rahul Sharma         34/B      XYZ Towers
2         9876543212      Priya Singh         56/C   PQR Residency
3         9876543213       Amit Patel         78/D     MNO Estates
4         9876543214     Kavita Mehta         90/E     LMN Enclave
5         9876543215     Rajesh Kumar         12/F     GHI Heights
6         9876543216      Pooja Verma         34/G     JKL Complex
7         9876543217     Deepak Singh         56/H     DEF Society
8         9876543218    Shalini Gupta         78/I     MNP Gardens
9         9876543219     Rohit Sharma         90/J   RST Residency
10        9876543220     Akshay Verma         12/K      UVW Towers
11        9876543221      Megha Patel         34/L     QWE Enclave
12        9876543222      Vivek Singh         56/M  ASD Apartments
13        9876543223    Anjali Kapoor         78/N     ZXC Heights
14        9876543224      Aman Sharma         90/O     POI Society
15        9876543225      Ritu Saxena         12/P   KLJ Residency
16        9876543226    Sandeep Mehta         34/Q      QWE Towers
17        9876543227      Divya Gupta         56/R     JKL Society
18        9876543228     Rajat Khanna         78/S     ASD Enclave
19        9876543229      Ayesha Khan         90/T     ZXC Gardens
20        9876543230    Saurabh Singh         12/U   POI Residency
21        9876543231    Kritika Verma         34/V     UVW Complex
22        9876543232    Vikram Kapoor         56/W     RST Heights
23        9876543233   Anushka Saxena         78/X      ASD Towers
24        9876543234      Manoj Gupta         90/Y     JKL Gardens
25        9876543235  Priyanka Sharma         12/Z   QWE Residency
26        9876543236  Siddharth Singh        34/AA     KLJ Heights
27        9876543239    Arushi Kapoor        90/DD     POI Enclave
28        9876543240   Deepika Saxena        12/EE     UVW Gardens
29        9876543241      Ankit Gupta        34/FF     RST Society
30        9876543243     Swati Khanna        78/HH   ASD Residency
31        9876543244    Saurabh Verma        90/II     ZXC Heights
32        9876543245     Rajesh Mehta        12/JJ      POI Towers
33        9971025644   Himanshi Verma          290   Seemant Vihar

             City  Pin Code           State Country
0       New Delhi    110001           Delhi   India
1          Mumbai    400001     Maharashtra   India
2         Kolkata    700001     West Bengal   India
3       Ahmedabad    380001         Gujarat   India
4         Chennai    600001      Tamil Nadu   India
5       Bengaluru    560001       Karnataka   India
6       Hyderabad    500001       Telangana   India
7          Jaipur    302001       Rajasthan   India
8            Pune    411001     Maharashtra   India
9         Lucknow    226001   Uttar Pradesh   India
10     Chandigarh    160001          Punjab   India
11         Bhopal    462001  Madhya Pradesh   India
12          Patna    800001           Bihar   India
13         Ranchi    834001       Jharkhand   India
14        Gurgaon    122001         Haryana   India
15      Faridabad    121001         Haryana   India
16         Nagpur    440001     Maharashtra   India
17         Indore    452001  Madhya Pradesh   India
18         Kanpur    208001   Uttar Pradesh   India
19       Ludhiana    141001          Punjab   India
20       Varanasi    221001   Uttar Pradesh   India
21       Amritsar    143001          Punjab   India
22       Jabalpur    482001  Madhya Pradesh   India
23  Visakhapatnam    530001  Andhra Pradesh   India
24        Cuttack    753001          Odisha   India
25    Bhubaneswar    751001          Odisha   India
26         Raipur    492001    Chhattisgarh   India
27       Shillong    793001       Meghalaya   India
28       Dehradun    248001     Uttarakhand   India
29        Gangtok    737101          Sikkim   India
30         Raipur    492001    Chhattisgarh   India
31         Imphal    795001         Manipur   India
32         Kohima    797001        Nagaland   India
33      Hyderabad    501010       Telangana   India

In [5]:
data.columns

Index(['Telephone Number', 'Name', 'House Number', 'Society Name', 'City',
       'Pin Code', 'State', 'Country'],
      dtype='object')

In [6]:
#Feature Engineering
# Melt the DataFrame to convert columns to rows
melted_data = pd.melt(data, var_name='Entity', value_name='Value')
 
# 'Entity' column now contains the labels for the entities (former column names)
# 'Value' column contains the corresponding values
 
print(melted_data)

               Entity       Value
0    Telephone Number  9876543210
1    Telephone Number  9876543211
2    Telephone Number  9876543212
3    Telephone Number  9876543213
4    Telephone Number  9876543214
..                ...         ...
267           Country       India
268           Country       India
269           Country       India
270           Country       India
271           Country       India

[272 rows x 2 columns]

In [7]:
# Define the labels for each column
labels = ['Telephone Number', 'Name', 'House Number', 'Society Name', 'City', 'Pin Code', 'State', 'Country']

In [8]:
melted_data['Entity'].unique()

array(['Telephone Number', 'Name', 'House Number', 'Society Name', 'City',
       'Pin Code', 'State', 'Country'], dtype=object)

In [9]:
import pandas as pd
from sklearn.model_selection import train_test_split

# Assuming your melted data is stored in a DataFrame called 'melted_data'
# and the labels are in a column named 'Value'

entity_lists = melted_data['Entity'].unique()
X_test_final = pd.DataFrame()
X_train_final = pd.DataFrame()
X_val_final = pd.DataFrame()
y_train_final = pd.Series()
y_test_final = pd.Series()
y_val_final = pd.Series()

for entity in entity_lists:
    # Filter data for the current entity
    entity_data = melted_data[melted_data['Entity'] == entity]
    
    # Split into features and labels
   # X = entity_data.drop('Value', axis=1)  # Assuming 'Value' is the label column
    X = entity_data['Value']
    y = entity_data['Entity']
    
    # Split into train, test, and validation sets
    X_train, X_temp, y_train, y_temp = train_test_split(X, y, test_size=0.3, random_state=42)
    X_test, X_val, y_test, y_val = train_test_split(X_temp, y_temp, test_size=0.5, random_state=42)
    
    # Append the splits to the final DataFrames and Series
    X_train_final = pd.concat([X_train_final, X_train], ignore_index=True)
    X_test_final = pd.concat([X_test_final, X_test], ignore_index=True)
    X_val_final = pd.concat([X_val_final, X_val], ignore_index=True)
    
    y_train_final = pd.concat([y_train_final, y_train], ignore_index=True)
    y_test_final = pd.concat([y_test_final, y_test], ignore_index=True)
    y_val_final = pd.concat([y_val_final, y_val], ignore_index=True)

    # Display the sizes of the splits for the current entity
    print(f"Entity: {entity}")
    print("Training set size:", len(X_train))
    print("Testing set size:", len(X_test))
    print("Validation set size:", len(X_val))
    print("===================")

Entity: Telephone Number
Training set size: 23
Testing set size: 5
Validation set size: 6
===================
Entity: Name
Training set size: 23
Testing set size: 5
Validation set size: 6
===================
Entity: House Number
Training set size: 23
Testing set size: 5
Validation set size: 6
===================
Entity: Society Name
Training set size: 23
Testing set size: 5
Validation set size: 6
===================
Entity: City
Training set size: 23
Testing set size: 5
Validation set size: 6
===================
Entity: Pin Code
Training set size: 23
Testing set size: 5
Validation set size: 6
===================
Entity: State
Training set size: 23
Testing set size: 5
Validation set size: 6
===================
Entity: Country
Training set size: 23
Testing set size: 5
Validation set size: 6
===================

C:\Users\purus\AppData\Local\Temp\ipykernel_24456\1330704523.py:11: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  y_train_final = pd.Series()
C:\Users\purus\AppData\Local\Temp\ipykernel_24456\1330704523.py:12: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  y_test_final = pd.Series()
C:\Users\purus\AppData\Local\Temp\ipykernel_24456\1330704523.py:13: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  y_val_final = pd.Series()

In [10]:
print("X_test_final", X_test_final)
print("X_train_final", X_train_final)
print("X_val_final", X_val_final)
print("y_train_final", y_train_final)
print("y_test_final", y_test_final)
print("y_val_final", y_val_final)

X_test_final                   0
0        9876543245
1        9876543218
2        9876543222
3        9876543236
4        9876543231
5      Rajesh Mehta
6     Shalini Gupta
7       Vivek Singh
8   Siddharth Singh
9     Kritika Verma
10            12/JJ
11             78/I
12             56/M
13            34/AA
14             34/V
15       POI Towers
16      MNP Gardens
17   ASD Apartments
18      KLJ Heights
19      UVW Complex
20           Kohima
21             Pune
22            Patna
23           Raipur
24         Amritsar
25           797001
26           411001
27           800001
28           492001
29           143001
30         Nagaland
31      Maharashtra
32            Bihar
33     Chhattisgarh
34           Punjab
35            India
36            India
37            India
38            India
39            India
X_train_final               0
0    9876543214
1    9876543226
2    9876543227
3    9876543215
4    9876543223
..          ...
179       India
180       India
181       India
182       India
183       India

[184 rows x 1 columns]
X_val_final                  0
0       9876543234
1       9876543225
2       9876543219
3       9876543210
4       9876543239
5       9876543229
6      Manoj Gupta
7      Ritu Saxena
8     Rohit Sharma
9     Ananya Gupta
10   Arushi Kapoor
11     Ayesha Khan
12            90/Y
13            12/P
14            90/J
15            12/A
16           90/DD
17            90/T
18     JKL Gardens
19   KLJ Residency
20   RST Residency
21  ABC Apartments
22     POI Enclave
23     ZXC Gardens
24         Cuttack
25       Faridabad
26         Lucknow
27       New Delhi
28        Shillong
29        Ludhiana
30          753001
31          121001
32          226001
33          110001
34          793001
35          141001
36          Odisha
37         Haryana
38   Uttar Pradesh
39           Delhi
40       Meghalaya
41          Punjab
42           India
43           India
44           India
45           India
46           India
47           India
y_train_final 0      Telephone Number
1      Telephone Number
2      Telephone Number
3      Telephone Number
4      Telephone Number
             ...
179             Country
180             Country
181             Country
182             Country
183             Country
Length: 184, dtype: object
y_test_final 0     Telephone Number
1     Telephone Number
2     Telephone Number
3     Telephone Number
4     Telephone Number
5                 Name
6                 Name
7                 Name
8                 Name
9                 Name
10        House Number
11        House Number
12        House Number
13        House Number
14        House Number
15        Society Name
16        Society Name
17        Society Name
18        Society Name
19        Society Name
20                City
21                City
22                City
23                City
24                City
25            Pin Code
26            Pin Code
27            Pin Code
28            Pin Code
29            Pin Code
30               State
31               State
32               State
33               State
34               State
35             Country
36             Country
37             Country
38             Country
39             Country
dtype: object
y_val_final 0     Telephone Number
1     Telephone Number
2     Telephone Number
3     Telephone Number
4     Telephone Number
5     Telephone Number
6                 Name
7                 Name
8                 Name
9                 Name
10                Name
11                Name
12        House Number
13        House Number
14        House Number
15        House Number
16        House Number
17        House Number
18        Society Name
19        Society Name
20        Society Name
21        Society Name
22        Society Name
23        Society Name
24                City
25                City
26                City
27                City
28                City
29                City
30            Pin Code
31            Pin Code
32            Pin Code
33            Pin Code
34            Pin Code
35            Pin Code
36               State
37               State
38               State
39               State
40               State
41               State
42             Country
43             Country
44             Country
45             Country
46             Country
47             Country
dtype: object

In [11]:
print("X_test_final", len(X_test_final))
print("X_train_final", len(X_train_final))
print("X_val_final", len(X_val_final))
print("y_train_final", len(y_train_final))
print("y_test_final", len(y_test_final))
print("y_val_final", len(y_val_final))

X_test_final 40
X_train_final 184
X_val_final 48
y_train_final 184
y_test_final 40
y_val_final 48

In [12]:
X_train_final.head()

            0
0  9876543214
1  9876543226
2  9876543227
3  9876543215
4  9876543223

In [13]:
import spacy
from spacy.training.example import Example
import pandas as pd
from sklearn.model_selection import train_test_split

# Train the model
def train_custom_ner_model(X_train, X_test, y_train, y_test, labels, iterations=100, model_output_dir=None):
    nlp = spacy.blank('en')  # Initialize blank English model

    # Add NER component to the pipeline
    ner = nlp.add_pipe('ner', last=True)

    # Add labels for your entities
    for label in labels:
        ner.add_label(label)

    # Disable other pipeline components during training
    other_pipes = [pipe for pipe in nlp.pipe_names if pipe != 'ner']
    with nlp.disable_pipes(*other_pipes):
        optimizer = nlp.begin_training()
        for itn in range(iterations):
            losses = {}
            for i in range(len(X_train)):
                # Convert Series to string
                text = str(X_train.iloc[i].item()) if isinstance(X_train.iloc[i], pd.Series) else str(X_train.iloc[i])
                
                # Convert annotations to a list of tuples or handle if it's an integer or string
                annotations = y_train.iloc[i]
                if isinstance(annotations, (int, str)):
                    annotations = [(0, len(text), str(annotations))]  # Replace with appropriate start, end, label
                else:
                    annotations = annotations.tolist()

                example = Example.from_dict(nlp.make_doc(text), {"entities": annotations})
                nlp.update([example], drop=0.5, losses=losses)

            # Calculate accuracy on the test data
            correct_predictions = 0
            total_predictions = 0
            for i in range(len(X_test)):
                # Convert Series to string
                text = str(X_test.iloc[i].item()) if isinstance(X_test.iloc[i], pd.Series) else str(X_test.iloc[i])
                
                # Convert annotations to a list of tuples or handle if it's an integer or string
                annotations = y_test.iloc[i]
                if isinstance(annotations, (int, str)):
                    annotations = [(0, len(text), str(annotations))]  # Replace with appropriate start, end, label
                else:
                    annotations = annotations.tolist()

                doc = nlp(text)
                true_entities = set([(start, end, label) for start, end, label in annotations])
                predicted_entities = set([(ent.start_char, ent.end_char, ent.label_) for ent in doc.ents])

                correct_predictions += len(true_entities.intersection(predicted_entities))
                total_predictions += len(predicted_entities)

            accuracy = correct_predictions / total_predictions if total_predictions > 0 else 0
            print(f"Iteration {itn + 1}/{iterations}: Loss = {losses.get('ner', 0):.4f}, Accuracy = {accuracy:.4f}")

    # Save the model to the specified output directory
    if model_output_dir:
        nlp.to_disk(model_output_dir)
        print(f"Model saved to: {model_output_dir}")

    return nlp

# Example usage:
# Assuming you have X_train_final, X_test_final, y_train_final, y_test_final
# Split your data into training and testing sets
# labels = ['LABEL1', 'LABEL2', ...]  # Replace with your actual labels
# train_custom_ner_model(X_train_final, X_test_final, y_train_final, y_test_final, labels, iterations=100, model_output_dir='path/to/save/model')

In [15]:
import os
print(os.getcwd())

'C:\\Users\\purus\\Downloads'

In [16]:
model_output_dir = os.getcwd() #save the model in current directory.

In [18]:
train_custom_ner_model(X_train_final, X_test_final, y_train_final, y_test_final, labels, iterations=100, model_output_dir=model_output_dir)

#train_custom_ner_model(y_train_final, y_test_final, X_train_final, X_test_final, labels, iterations=100, model_output_dir='C:\\Users\\Anitha\\Downloads\\All Python Files\\DocManagement\\14Nov2023_DocAI_Spacy')

Iteration 1/100: Loss = 258.4811, Accuracy = 0.0847
Iteration 2/100: Loss = 246.5997, Accuracy = 0.1961
Iteration 3/100: Loss = 238.5832, Accuracy = 0.1064
Iteration 4/100: Loss = 223.3734, Accuracy = 0.4255
Iteration 5/100: Loss = 168.9934, Accuracy = 0.7250
Iteration 6/100: Loss = 115.4287, Accuracy = 0.7250
Iteration 7/100: Loss = 113.9445, Accuracy = 0.7250
Iteration 8/100: Loss = 98.5096, Accuracy = 0.6750
Iteration 9/100: Loss = 114.7425, Accuracy = 0.7436
Iteration 10/100: Loss = 81.7147, Accuracy = 0.8500
Iteration 11/100: Loss = 68.2823, Accuracy = 0.8500
Iteration 12/100: Loss = 77.7878, Accuracy = 0.9000
Iteration 13/100: Loss = 48.9131, Accuracy = 0.9250
Iteration 14/100: Loss = 46.4415, Accuracy = 0.9500
Iteration 15/100: Loss = 34.2775, Accuracy = 0.8974
Iteration 16/100: Loss = 29.9672, Accuracy = 0.9500
Iteration 17/100: Loss = 8.3507, Accuracy = 0.9750
Iteration 18/100: Loss = 13.2752, Accuracy = 0.9250
Iteration 19/100: Loss = 10.9477, Accuracy = 0.9250
Iteration 20/100: Loss = 22.7900, Accuracy = 0.9750
Iteration 21/100: Loss = 17.6793, Accuracy = 0.9750
Iteration 22/100: Loss = 14.8135, Accuracy = 0.9250
Iteration 23/100: Loss = 8.9155, Accuracy = 0.9250
Iteration 24/100: Loss = 11.5688, Accuracy = 0.9750
Iteration 25/100: Loss = 6.3602, Accuracy = 0.9250
Iteration 26/100: Loss = 5.7039, Accuracy = 0.9500
Iteration 27/100: Loss = 13.6156, Accuracy = 0.9000
Iteration 28/100: Loss = 9.7063, Accuracy = 0.9500
Iteration 29/100: Loss = 10.5031, Accuracy = 0.9500
Iteration 30/100: Loss = 9.2578, Accuracy = 0.9500
Iteration 31/100: Loss = 15.6690, Accuracy = 0.8571
Iteration 32/100: Loss = 21.5637, Accuracy = 0.9250
Iteration 33/100: Loss = 9.8426, Accuracy = 0.9250
Iteration 34/100: Loss = 17.8224, Accuracy = 0.9250
Iteration 35/100: Loss = 17.3500, Accuracy = 0.9500
Iteration 36/100: Loss = 12.9932, Accuracy = 0.9750
Iteration 37/100: Loss = 3.6055, Accuracy = 0.9500
Iteration 38/100: Loss = 5.0739, Accuracy = 0.9750
Iteration 39/100: Loss = 15.9200, Accuracy = 0.9750
Iteration 40/100: Loss = 12.2953, Accuracy = 0.9750
Iteration 41/100: Loss = 14.7071, Accuracy = 0.9250
Iteration 42/100: Loss = 10.9336, Accuracy = 0.9250
Iteration 43/100: Loss = 9.5870, Accuracy = 0.9750
Iteration 44/100: Loss = 2.0005, Accuracy = 0.9750
Iteration 45/100: Loss = 6.4786, Accuracy = 0.9500
Iteration 46/100: Loss = 7.9809, Accuracy = 0.9500
Iteration 47/100: Loss = 6.1246, Accuracy = 0.9250
Iteration 48/100: Loss = 9.1070, Accuracy = 0.9750
Iteration 49/100: Loss = 2.0000, Accuracy = 0.9750
Iteration 50/100: Loss = 4.2518, Accuracy = 0.9750
Iteration 51/100: Loss = 6.5834, Accuracy = 0.9750
Iteration 52/100: Loss = 1.6440, Accuracy = 0.9750
Iteration 53/100: Loss = 2.8676, Accuracy = 0.9500
Iteration 54/100: Loss = 2.9539, Accuracy = 0.9750
Iteration 55/100: Loss = 16.6804, Accuracy = 0.9744
Iteration 56/100: Loss = 12.6630, Accuracy = 0.9750
Iteration 57/100: Loss = 3.4127, Accuracy = 0.9750
Iteration 58/100: Loss = 6.7192, Accuracy = 0.9750
Iteration 59/100: Loss = 2.3127, Accuracy = 0.9750
Iteration 60/100: Loss = 0.9687, Accuracy = 0.9750
Iteration 61/100: Loss = 7.7325, Accuracy = 0.9500
Iteration 62/100: Loss = 4.9446, Accuracy = 0.9500
Iteration 63/100: Loss = 6.0189, Accuracy = 0.9750
Iteration 64/100: Loss = 0.7725, Accuracy = 0.9750
Iteration 65/100: Loss = 0.0000, Accuracy = 0.9750
Iteration 66/100: Loss = 0.0000, Accuracy = 0.9750
Iteration 67/100: Loss = 0.0000, Accuracy = 0.9750
Iteration 68/100: Loss = 0.0000, Accuracy = 0.9750
Iteration 69/100: Loss = 1.9968, Accuracy = 0.9250
Iteration 70/100: Loss = 10.3502, Accuracy = 0.9750
Iteration 71/100: Loss = 4.8123, Accuracy = 0.9500
Iteration 72/100: Loss = 5.8442, Accuracy = 0.9750
Iteration 73/100: Loss = 7.7923, Accuracy = 0.9750
Iteration 74/100: Loss = 4.0617, Accuracy = 0.9750
Iteration 75/100: Loss = 0.0309, Accuracy = 0.9750
Iteration 76/100: Loss = 0.0125, Accuracy = 0.9750
Iteration 77/100: Loss = 5.9998, Accuracy = 0.9750
Iteration 78/100: Loss = 0.0000, Accuracy = 0.9750
Iteration 79/100: Loss = 0.0000, Accuracy = 0.9750
Iteration 80/100: Loss = 11.0290, Accuracy = 0.9250
Iteration 81/100: Loss = 23.5290, Accuracy = 0.9250
Iteration 82/100: Loss = 24.5583, Accuracy = 0.9000
Iteration 83/100: Loss = 19.7477, Accuracy = 0.9500
Iteration 84/100: Loss = 14.1515, Accuracy = 0.9744
Iteration 85/100: Loss = 0.0971, Accuracy = 0.9500
Iteration 86/100: Loss = 0.4780, Accuracy = 0.9744
Iteration 87/100: Loss = 1.9995, Accuracy = 0.9744
Iteration 88/100: Loss = 3.7096, Accuracy = 0.9744
Iteration 89/100: Loss = 2.0048, Accuracy = 0.9750
Iteration 90/100: Loss = 0.0000, Accuracy = 0.9750
Iteration 91/100: Loss = 7.5528, Accuracy = 0.9750
Iteration 92/100: Loss = 0.0000, Accuracy = 0.9750
Iteration 93/100: Loss = 15.9669, Accuracy = 0.9500
Iteration 94/100: Loss = 4.1426, Accuracy = 0.9231
Iteration 95/100: Loss = 18.2304, Accuracy = 0.9250
Iteration 96/100: Loss = 2.0007, Accuracy = 0.9744
Iteration 97/100: Loss = 5.9749, Accuracy = 0.9250
Iteration 98/100: Loss = 5.5730, Accuracy = 0.9750
Iteration 99/100: Loss = 1.9817, Accuracy = 0.9500
Iteration 100/100: Loss = 3.7476, Accuracy = 0.8750
Model saved to: C:\Users\purus\Downloads

In [ ]:
import spacy
from sklearn.metrics import classification_report, confusion_matrix
import pandas as pd

# Assuming your validation data is stored in X_val_final and y_val_final
# Assuming your model is saved in the directory 'path/to/save/model'
#model_output_dir = 'path/to/save/model'

# Load the saved model
loaded_nlp = spacy.load(model_output_dir)

# Process each validation text and get predicted entities
predicted_entities = []
for i in range(len(X_val_final)):
    text = str(X_val_final.iloc[i].item()) if isinstance(X_val_final.iloc[i], pd.Series) else str(X_val_final.iloc[i])
    doc = loaded_nlp(text)
    predicted_entities.extend([(ent.start_char, ent.end_char, ent.label_) for ent in doc.ents])

# Convert the predicted entities to the same format as y_val_final
predicted_entities_df = pd.DataFrame(predicted_entities, columns=['start', 'end', 'label'])
predicted_entities_df['label'] = predicted_entities_df['label'].astype(str)  # Ensure labels are strings

# Convert y_val_final to the same format
y_val_final_df = pd.DataFrame(
    [(0, 0, str(item)) for item in y_val_final],  # Treat each integer as a separate entity
    columns=['start', 'end', 'label']
)

# Create confusion matrix and classification report
conf_matrix = confusion_matrix(y_val_final_df['label'], predicted_entities_df['label'])
class_report = classification_report(y_val_final_df['label'], predicted_entities_df['label'])

# Print confusion matrix and classification report
print("Confusion Matrix:")
print(conf_matrix)
print("\nClassification Report:")
print(class_report)

In [ ]:
import spacy
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.metrics import ConfusionMatrixDisplay

# Assuming your validation data is stored in X_val_final and y_val_final
# Assuming your model is saved in the directory 'path/to/save/model'
#model_output_dir = 'path/to/save/model'

# Load the saved model
loaded_nlp = spacy.load(model_output_dir)

# Process each validation text and get predicted entities
predicted_entities = []
for i in range(len(X_val_final)):
    text = str(X_val_final.iloc[i].item()) if isinstance(X_val_final.iloc[i], pd.Series) else str(X_val_final.iloc[i])
    doc = loaded_nlp(text)
    predicted_entities.extend([(ent.start_char, ent.end_char, ent.label_) for ent in doc.ents])

# Convert the predicted entities to the same format as y_val_final
predicted_entities_df = pd.DataFrame(predicted_entities, columns=['start', 'end', 'label'])
predicted_entities_df['label'] = predicted_entities_df['label'].astype(str)  # Ensure labels are strings

# Convert y_val_final to the same format
y_val_final_df = pd.DataFrame(
    [(0, 0, str(item)) for item in y_val_final],  # Treat each integer as a separate entity
    columns=['start', 'end', 'label']
)

# Create confusion matrix and classification report
conf_matrix = confusion_matrix(y_val_final_df['label'], predicted_entities_df['label'])
class_report = classification_report(y_val_final_df['label'], predicted_entities_df['label'])

# Plot confusion matrix using scikit-learn's ConfusionMatrixDisplay
labels = sorted(y_val_final_df['label'].unique())  # assuming labels is defined
plt.figure(figsize=(8, 6))
sns.set(font_scale=1.2)
disp = ConfusionMatrixDisplay(confusion_matrix=conf_matrix, display_labels=labels)
disp.plot(cmap=plt.cm.Blues, values_format=".0f")
plt.title('Confusion Matrix')
plt.show()

# Print classification report
print("Classification Report:")
print(class_report)